body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
}

.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.subscribe p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #dfe8ff;
}

.subscribe button {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}

.page-software dt {
    font-weight: 700;
    color: #5a6789;
}

.stat {
    text-transform: uppercase;
}

.stat h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}

.stat h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    
}

.stat ul li {
    font-size: 12px;
    font-weight: 800;
    color: #1085e4;
    
}

.stat ul li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    
}

.app-item h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}

.app-item a {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
}








